<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'dashboard' %>
<% end %>

<div class="px-4 py-2 my-2 text-center">
  <%= image_tag 'logo-slogan.png', alt: "[Nome do Projeto]", id: 'dashboard-logo'%>
  <%# <h1 class="display-5 fw-bold">Rails Base</h1> %>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"><span class="fw-bold"><%= current_user.name %></span>, Bem vindo ao [Rails Base]</p>
    <%# <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
    </div> %>
  </div>
</div>

<%=  markdown @readme %>