<footer class="d-flex justify-content-between py-3 my-4 border-top">
  <span class="">Made by <a href="https://proposito.digital" target="_blank"> proposito.digital</a> </span>
  <span class=""><%= app_version %> </span>
</footer>