<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '/pages/home' %>
<% end %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <!-- <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Rails Base</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>
  -->

  <main class="px-3">
    <%= image_tag 'logo-slogan-white.png', class: "img-fluid", alt: "Rails Base logo"%>
    <div class="mt-3">
      <h1>Welcome to Rails Base version <%= app_version %>.</h1>
    </div>
    <p class="lead">Go to administration.</p>
    <p class="lead">
      <a href="/admin" class="btn btn-lg  fw-bold border-white bg-white">Go Further</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Made by <a href="https://www.proposito.digital/" class="text-white">Propósito Digital</a>.</p>
    <%= image_tag 'logo-proposito.png', class: "img-fluid", alt: "Proposito Digital logo"%>
  </footer>
</div>


