#language_select .dropdown-toggle{
    background-color: var(--white);
    padding: 5px 1em;
    color: var(--black) !important;
    width: 9.87em;
    border-radius: 0.25em;
    border: 1px solid var(--gray-menu);
}