<!DOCTYPE html>
<html lang="en">
    <!-- Mirrored from thevectorlab.net/flatlab/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 May 2015 17:27:00 GMT -->
    <head>
        <title>403</title>
        
        <%= csrf_meta_tags %>

       <!-- Bootstrap core CSS -->
        <%= stylesheet_link_tag 'styles/stylesheets', media: 'all', 'data-turbo-track' => true %>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="body-404">

        <div class="container">

            <section class="error-wrapper">
                <%= image_tag("403_icon.jpg") %>
                <h1>403</h1>
                <h2>Permissão Negada!</h2>
                <p class="page-404">Você não tem permissão para acessar esta página. <%= link_to "Retornar ao Início", admin_root_path %></p>
            </section>
        </div>
    </body>

</html>