require 'rails_helper'

RSpec.describe Admin::<%= controller_class_name.sub(/\AAdmin::/, "") %>Helper, type: :helper  do
  describe "#admin_index_search_applied?" do
    it "returns true when term is present" do
      allow(helper).to receive(:params).and_return(ActionController::Parameters.new(term: "query"))

      expect(helper.admin_index_search_applied?).to be(true)
    end

    it "returns false when term is blank" do
      allow(helper).to receive(:params).and_return(ActionController::Parameters.new(term: ""))

      expect(helper.admin_index_search_applied?).to be(false)
    end
  end
end
