body{
  background: var(--bg-page);
  font-family: Segoe UI !important;
  font-weight: normal !important;
  height: 100%;
  overflow-x: hidden;
}

#appAdmin{
  height: 100vh;
}

@keyframes spinner {
  0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
[v-cloak] > *{
  display: none !important;
}
[v-cloak]::before{
  animation: 0.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: var(--primary);
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}
@import 'admin/language_select';