/*!
# ______                                _  _         ______  _         _  _          _ 
# | ___ \                              (_)| |        |  _  \(_)       (_)| |        | |
# | |_/ /_ __  ___   _ __    ___   ___  _ | |_  ___  | | | | _   __ _  _ | |_  __ _ | |
# |  __/| '__|/ _ \ | '_ \  / _ \ / __|| || __|/ _ \ | | | || | / _` || || __|/ _` || |
# | |   | |  | (_) || |_) || (_) |\__ \| || |_| (_) || |/ / | || (_| || || |_| (_| || |
# \_|   |_|   \___/ | .__/  \___/ |___/|_| \__|\___/ |___/  |_| \__, ||_| \__|\__,_||_|
#                   | |                                          __/ |
#
*/

:root{

   // GENERAL CORLOS
  --white:#FFFFFF;
  --black:#404040;
  --light-black: #0b0b0b24;
  --gray:#F8F9F8;
  --gray-menu:rgba(255, 255, 255, 0.8);
  --gray-bottom:rgba(255, 255, 255, 0.1);
  --gray-blue:#EBEBF5;
  --gray-darken:#C4C4C4;
  --gray-light:#e6e2e2;
  --gray-lighten:#f0ebeb;
  --mint:#F8FDF8;

  
  // PRIMARY
  --primary:#BC2F2E;
  --primary-dark:#992929;
  --primary-hoover: #7952B2;
  
  --primary-light: #de6b6b;
  --primary-lighter: #f8c3c3;
  
  // SECONDARY
  --secundary:#000000;

  // NAVBAR
  --background-navbar: var(--primary);
  --navbar-light-color: var(--gray-menu);
  --navbar-light-hover-color: var(--white);
  --navbar-light-active-color: var(--primary);
  --navbar-light-disabled-color: var(--disabled);
  
  // SIDEBAR
  --background-sidebar: var(--primary);
  
  // UTILS
  --border-bottom: var(--gray-bottom);

  // BACKGROUND
  --background-primary: var(--primary);


  // SEMANTICS
  --success:#99C15D;
  --success-light:#b2d879;
  --success-hoover: #85a05c;

  --info:#4456FC;
  --info-light:#6877fa;
  --info-hoover:#4f5bcd;

  --warning:#FFB302;
  --warning-light:#f9c54b;
  --warning-hoover:#c49322;

  --danger:#FF5B32;
  --danger-light:#f9ab98;
  --danger-hoover:#f7d6ce;

  --dark: #404040;
  --dark-light: #808080;
  --dark-hoover: #1f1f1f;

  --disabled: #969EA9;
  --disabled-light: #d7dde6;
  --disabled-hoover: #6f7276;

  --table:#F4F4F8;
  --table-btn:#888888;

  --pagination:#E8E9EC;
  --pagination-color: var(--primary);

  --label-upload:#888888;

  --bg-footer:#F7F7FB;

  --link: var(--primary);
  --buttom: var(--primary);

  //BOOTSTRAP COLOR
  --bs-primary: var(--primary);
  --bs-primary-rgb: 188, 47, 46;
}

.btn.btn-primary{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.pagination .page-item a, a {
  color: var(--primary);
  text-decoration: var(--primary);

  &:hover {
    color: var(--primary-dark);
    text-decoration-color: var(--primary-dark);
  }
}
