:root{
  --theme-deafult: #336699;
  --theme-secondary: #6C3E9E;
}

.theme-form{
  input{
    background-color: #e4f2ff !important;
  }
}

.alert{
  display: flex;
  justify-content: space-between;
  .close{
    color: white;
    font-weight: bold;
  }
  .pointer{
    cursor: pointer;
  }
}