#navbar-logo{
  width: 207px;
  height: 61px;
}

header{
  font-family: Roboto !important;
  background-color: var(--background-navbar);
}

.navbar-light {
  .navbar-brand {
    color: var(--white) !important;
    padding-top: .65rem;
    padding-bottom: .65rem;
    font-size: 1rem;
  }
}

.navbar-nav {
  .navbar-text {
    color: var(--white) !important;
  }
  .nav-link {
    color: var(--navbar-light-color) !important;

    &:hover,
    &:focus {
      color: var(--navbar-light-hover-color) !important;
    }

    &.disabled {
      color: var(--navbar-light-disabled-color) !important;
    }
  }

  .show > .nav-link,
  .nav-link.active {
    color: var(--navbar-light-active-color) !important;
  }
}