@import './colors';

.btn.btn-primary{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.pagination .page-item a, a {
  color: var(--primary);
  text-decoration: var(--primary);

  &:hover {
    color: var(--primary-dark);
    text-decoration-color: var(--primary-dark);
  }
}
