#sidebar{
  font-family: Roboto !important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  background-color: var(--background-sidebar) !important;
  min-width: 20em;
  transition:0.1s all ease-in-out;
  .nav-item{
    .nav-link{
      font-weight: 500;
      color: var(--gray-menu);
      &:hover:not(.active){
        color: var(--white);
      }
    }
    .active{
      background-color: var(--white);
      color: var(--primary)
    }
  }
  #pageSubmenu{
    .nav-link{
      &.active{
        background-color: unset;
        color: var(--white);
        border-radius: unset;
        border-left: 3px solid var(--white);
      }
    }
  }
  ul li {
    div > ul{
      margin-left: 10px;
      li{
        font-size: 14px;
      }
    }
    a {
      padding: 0.5em 1em;
      display: block;
      color: var(--gray-menu);
      border-bottom: 1px solid var(--border-bottom);
      border-radius: 5px;
      i{
        font-size: 1.5em;
      }
      &.dropdown-toggle{
        &::after{
          margin-top: 16px;
          font-size: 1.3em;
        }
      }
    }
  }
  &.collapsed{
    min-width: 7em;
    .nav-link{
      text-align: center;
      &.dropdown-toggle{
        &::after{
          display: none;
        }
      }
      .item-name{
        display: none;
      }
    }
    #pageSubmenu{
      display: none;
    }
    transition:0.1s all ease-in-out;
  }
  #toggle-sidebar-button{
    display: inline-block;
    background: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: translateX(46%);
  }
}

.dropdown-toggle{
  &::after {
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    float: right;
    margin-top: 8px;
  }
}
