@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,700);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap-grid.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap-reboot.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap-utilities.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css);
@import url(https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css);

@import 'sidebar';
@import 'navbar';
@import 'colors';

@import 'admin';
@import 'utilities/cursor.scss';
@import 'content/typography.scss'