<p>Ola <%= @resource.email %>!</p>

<p>Uma alteração de senha foi requisitada . Você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Alterar a senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez esse pedido, por favor ignore esse email.</p>
<p>Sua senha não mudará enquanto voĉe não acessar o link a cima e criar uma nova senha.</p>
