<%= link_to raw("<div class='btn p-0 text-black'><span class=\"bi bi-chevron-left\"></span> Voltar</div>"), instances_index_path %>

<div class="d-flex justify-content-between mt-2">
  <div>
    <h3><%= "#{model_singular_translation} - #{instance_display(instance)}" %></h3>
  </div>
  <div>
    <a href=<%= "#{instance_show_path(instance)}"%> class="btn btn-outline-secondary" >Visualizar</a>
    <button type="submit" @click="submitForm('<%= 'edit_' + instance.class.name.underscore + '_' + instance.id.to_s %>')" class="btn btn-primary">Salvar</button>
  </div>
</div>