<div class="row">
	<% instance.attributes.excluding('id', 'deleted_at', 'created_at', 'updated_at').each do |name, value| %>
    <div class="mb-3">
      <%= form.label name, attribute_translation(model_singular_name_to_translate(@instance), name), class: 'form-label' %>
      <%= form.text_field name, class: 'form-control', id: "#{model_field_id(@instance, name)}" %>
    </div> 
	<% end %>
</div>