<div class="row">
  <%= link_to raw("<div class='btn p-0 font-black'><span class=\"bi bi-chevron-left\"></span>"+translate_view_shared("back")+"</div>"), admin_dashboard_index_path %>

  <div class="d-flex justify-content-between mt-2">
    <div>
      <h1><%= model_plural_translation %></h1>
    </div>
    <div>
      <a class='btn btn-primary' href="<%= instance_new_path %>"><i class="bi bi-plus"></i>&nbsp;<%=translate_view_shared('add', model_name: model_singular_translation)%></a> 
    </div>
  </div>
</div>