<% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'show' %>
<% end %>
<!-- BEGIN SHOW PAGE -->
<div class="row">
  <div class="col">
    <%= render partial: 'show_header', locals: { instance: @instance } %>
  </div>
  <fieldset disabled>
    <%= form_for @instance, url: '', method: '' do |f| %>
      <%= render partial: 'form', locals: { instance: @instance, form: f } %>
    <% end %>
  </fieldset>
</div>
<!-- END SHOW PAGE -->



