<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Favicon -->
    <title>Rails Base</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="https://teago-sites.s3.us-east-2.amazonaws.com/cuba_bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="https://teago-sites.s3.us-east-2.amazonaws.com/cuba_style.css">
     <%= stylesheet_link_tag 'devise' %>
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="https://teago-sites.s3.us-east-2.amazonaws.com/cuba_responsive.css">
  </head>
  <body>
    <!-- login page start-->
    <div id="appAdmin" v-cloak class="container-fluid p-0">
      <div class="row m-0">
        <div class="col-12 p-0">    
          <div class="login-card">
            <div>
              <div><a class="logo" href="/"><%=  image_tag 'logo-slogan.png', alt: "...", class: 'img-fluid for-light' %></a></div>
              <div class="login-main"> 
                <div class="theme-form">
                    <%= render "layouts/admin/messages" %>
                    <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>


</html>