<!DOCTYPE html>
<html lang="en">
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Rails Base - Propósito Digital</title>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- END GLOBAL MANDATORY STYLES -->

    <%= stylesheet_link_tag 'styles', preload: true, media: 'all', 'data-turbo-track': 'reload'%>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <%= yield :stylesheets %>
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
  </head>
  <!-- END HEAD -->
  <body class="d-flex h-100 text-center text-white bg-dark">
    <!-- BEGIN CONTENT AREA -->
    <%= yield %>
    <!-- END CONTENT AREA -->
    
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <%= yield :javascript %>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  </body>
</html>